/* :root {
    --bodyBackground: #FCF5D8;
    --bodyTextColor: #390D04;
    --topNavBackground: #79A206;
    --topNavColor: #FFF8EA;
    --topBarLinkHoverBackground: #9ABA00;
    --splashTextColor: #FF6866;
    --cartBackground: #001;
    --cartTitleBackground: #335;
    --footerBackground: #5B2A3F;
    --spashBackground: #390D04;
    --splashTextShadow: #200;
    --cardTextColor: #280D14;
    --cardBackground: #FAF2C3;
    --cardBorder: #F6E57B;
    --cardHeaderBackground: #D4D600;
} */

:root {
    --bodyBackground: #f8f9fa;
    --bodyTextColor: #1e6091;
    --topNavBackground: #184e77;
    --topNavColor: #f8f9fa;
    --topBarLinkHoverBackground: #1a759f;
    --splashTextColor: #1a759f;
    --cartBackground: #07263d;
    --cartTitleBackground: #1a759f;
    --footerBackground: #184e77;
    --splashBackground: #273904;
    --splashTextShadow: #f8f9fa;
    --cardTextColor: #280D14;
    --cardBackground: #8ecae6;
    --cardHeaderBackground: #caf0f8;
}